.product-shop-info {
    display: flex;
    justify-content: center;
}

.product-box-img {
    min-width: 300px;
    margin-left: 45px;
}

.product-box-info {
    margin-left: 50px;
    align-self: center;
}

.position-back-button-box {
    position: relative;
}

.product-title {
    margin: 30px 0 26px 110px;
    font-size: 32px;
    color: #000000;
}

.product-state {
    font-size: 36px;
    padding-bottom: 45px;
}

.product-price {
    font-size: 36px;
    text-align: left;
    padding-bottom: 40px;
}

.product-quantiti {
    font-size: 24px;
    text-align: left;
}

.product-full-description {
    margin: 75px 0 0 37px;
}

.title-descriptions {
    font-size: 32px;
    margin-bottom: 48px;
    color: black;
}

.description {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

@media (max-width: 1042px) {
    .product-shop-info {
        flex-direction: column;
        align-items: center;
    }

    .state-preview-card-id {
        text-align: start;
    }

    .product-box-img {
        max-width: 100%;
        margin: 0 40px 40px 40px;
    }

    .product-img img {
        max-width: 100%;
    }

    .product-box-info {
        align-self: flex-start;
    }

    .product-full-description {
        margin: 45px 0 0 37px;
    }

    .title-descriptions {
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
    }
}
